<div class="card shadow-sm">
<!--begin::Accordion-->
<div class="accordion" id="kt_accordion_1">
  <div class="accordion-item">
      <h2 class="accordion-header" id="kt_accordion_1_header_1">
          <button class="accordion-button fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_1" aria-expanded="true" aria-controls="kt_accordion_1_body_1">
              PAGES
          </button>
      </h2>
      <div id="kt_accordion_1_body_1" class="accordion-collapse collapse show" aria-labelledby="kt_accordion_1_header_1" data-bs-parent="#kt_accordion_1">
          <div class="accordion-body">




            <a data-link="/crafted/pages/profile" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start" class="btn pulse">Profile </a>



            
              <br>
            <a data-link="/crafted/pages/wizards" class="btn pulse">Widgets </a>

          </div>
      </div>
  </div>

  <div class="accordion-item">
      <h2 class="accordion-header" id="kt_accordion_1_header_2">
          <button class="accordion-button fs-4 fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_2" aria-expanded="false" aria-controls="kt_accordion_1_body_2">
          ACCOUNTS
          </button>
      </h2>
      <div id="kt_accordion_1_body_2" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_2" data-bs-parent="#kt_accordion_1">
          <div class="accordion-body">



            <a  routerLinkActive="active"
            routerLink="/crafted/account/overview" class="btn pulse">Overview </a>
            <br>
          <a      routerLinkActive="active"
          routerLink="/crafted/account/settings" class="btn pulse">Settings </a>
          </div>
      </div>
  </div>

  <div class="accordion-item">
      <h2 class="accordion-header" id="kt_accordion_1_header_3">
          <button class="accordion-button fs-4 fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_3" aria-expanded="false" aria-controls="kt_accordion_1_body_3">
          ERROR
          </button>
      </h2>
      <div id="kt_accordion_1_body_3" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_3" data-bs-parent="#kt_accordion_1">
          <div class="accordion-body">
            <a routerLinkActive="active"
            routerLink="/error/404" class="btn pulse">Error 404 </a>
            <br>
          <a routerLinkActive="active"
          routerLink="/error/500" class="btn pulse">Error 500 </a>
          </div>
      </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="kt_accordion_1_header_4">
        <button class="accordion-button fs-4 fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_4" aria-expanded="false" aria-controls="kt_accordion_1_body_4" data-link="/crafted/widgets">
        WIDGETS
        </button>
    </h2>
    <div id="kt_accordion_1_body_4" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_4" data-bs-parent="#kt_accordion_1">
        <div class="accordion-body">
          <a  routerLinkActive="active"
          routerLink="/crafted/widgets/lists" class="btn pulse">Lists </a>
          <br>
        <a  routerLinkActive="active"
        routerLink="/crafted/widgets/statistics" class="btn pulse">Statistics </a>
        <br>
        <a  routerLinkActive="active"
        routerLink="/crafted/widgets/charts" class="btn pulse">Charts </a>
        <br>
      <a class="btn pulse"  routerLinkActive="active"
      routerLink="/crafted/widgets/mixed">Mixed </a>
      <br>
      <a  class="btn pulse"  routerLinkActive="active"
      routerLink="/crafted/widgets/tables">Tables </a>
      <br>
    <a  class="btn pulse" routerLinkActive="active"
    routerLink="/crafted/widgets/feeds">Feeds </a>
    <br>


        </div>
    </div>
</div>
</div>
<!--end::Accordion-->

</div>
