<div class="bootstrap-wrapper">
     <div class="container">
       <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 offset-md-3">
        <mat-card>
       <h1 class="text-center">LOGIN</h1>
       <form class="text-center" [formGroup]="signinForm" (ngSubmit)="loginUser()" >

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="abc@example.com" name="email" id="email"  required  formControlName="email" >
                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
              <!-- <mat-hint>enter valid email</mat-hint> -->
              <!-- [formControl]="email" -->
              </mat-form-field>
            </p>

           <mat-form-field appearance="outline">
             <mat-label>password</mat-label>
             <input matInput type="password" required name="password" id="password"   formControlName="password">
             </mat-form-field>
              <div class="container text-center">
                   <button mat-raised-button color="primary" type="submit">
                   Login
                   </button>
              </div>
              <br>
              <p>Don't have an account

                <a mat-flat  routerLink="/Signup" >Register Here</a>
              </p>

       </form>
       </mat-card>
       </div>
       </div>
     </div>
</div>
