<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="assets/plugins/custom/typedjs/typedjs.bundle.js"></script>
</head>
<body>
  <span id="kt_typedjs_example_1" class="fs-1 fw-bolder"></span>
  <script>
    var typed = new Typed("#kt_typedjs_example_1", {
    strings: ["First sentence.", "Second sentence.", "Third sentense", "And some longer sentence"],
    typeSpeed: 30
});
  </script>
</body>
</html>


