<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="card shadow-sm">
    <div class="card-header collapsible cursor-pointer rotate" data-bs-toggle="collapse" data-bs-target="#kt_docs_card_collapsible">
        <h3 class="card-title">Home page

      </h3>


        <div class="card-toolbar rotate-180">
            <span class="svg-icon svg-icon-1">
                <!--begin::Svg Icon | path: assets/media/icons/duotune/arrows/arr072.svg-->
            <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor"/>
            </svg></span>
       <!--end::Svg Icon-->
            </span>
        </div>
    </div>
    <div id="kt_docs_card_collapsible" class="collapse show">
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro saepe blanditiis dolore reiciendis repudiandae voluptas, fugit, architecto quibusdam animi cum eum earum facere! Iure unde eligendi, corrupti doloribus facere saepe.
        </div>

        <div class="card-footer">
          <div class="row">

            <div class="col-lg-4">

                <!--begin::Card-->
                <div class="card ">
                    <div class="card-body p-0">
                    <!--begin::Overlay-->
                    <a class="d-block overlay" data-fslightbox="lightbox-basic" href="assets/media/stock/900x600/23.jpg">
                     <!--begin::Image-->
                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
                    style="background-image:url('assets/media/stock/900x600/23.jpg')">
                   </div>
                   <!--end::Image-->

                   <!--begin::Action-->
                   <div class="overlay-layer card-rounded bg-dark bg-opacity-25 shadow">
                   <i class="bi bi-eye-fill text-white fs-3x"></i>
                   </div>
                   <!--end::Action-->
                   </a>
                   <!--end::Overlay-->
                   </div>
                </div>
            </div>

            <div class="col-lg-4">

              <!--begin::Card-->
              <div class="card ">
                  <div class="card-body p-0">
                  <!--begin::Overlay-->
                  <a class="d-block overlay" data-fslightbox="lightbox-basic" href="assets/media/stock/900x600/23.jpg">
                   <!--begin::Image-->
                  <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
                  style="background-image:url('assets/media/stock/900x600/23.jpg')">
                 </div>
                 <!--end::Image-->

                 <!--begin::Action-->
                 <div class="overlay-layer card-rounded bg-dark bg-opacity-25 shadow">
                 <i class="bi bi-eye-fill text-white fs-3x"></i>
                 </div>
                 <!--end::Action-->
                 </a>
                 <!--end::Overlay-->
                 </div>
              </div>
          </div>

          <div class="col-lg-4">

            <!--begin::Card-->
            <div class="card ">
                <div class="card-body p-0">
                <!--begin::Overlay-->
                <a class="d-block overlay" data-fslightbox="lightbox-basic" href="assets/media/stock/900x600/23.jpg">
                 <!--begin::Image-->
                <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
                style="background-image:url('assets/media/stock/900x600/23.jpg')">
               </div>
               <!--end::Image-->

               <!--begin::Action-->
               <div class="overlay-layer card-rounded bg-dark bg-opacity-25 shadow">
               <i class="bi bi-eye-fill text-white fs-3x"></i>
               </div>
               <!--end::Action-->
               </a>
               <!--end::Overlay-->
               </div>
            </div>
        </div>
         </div>


        <br>




          <div class="row">
            <div class="col-lg-4">

                <!--begin::Card-->
                <div class="card  overlay overflow-hidden">
                    <div class="card-body p-0">
                        <div class="overlay-wrapper">
                            <img src="assets/media/stock/600x400/img-1.jpg" alt="" class="w-100 rounded"/>
                        </div>

                    </div>
                </div>
                <!--end::Card-->
            </div>

            <div class="col-lg-4">
                <!--begin::Card-->
                <div class="card  overlay overflow-hidden">
                    <div class="card-body p-0">
                        <div class="overlay-wrapper">
                            <img src="assets/media/stock/600x400/img-2.jpg" alt="" class="w-100 rounded"/>
                        </div>

                    </div>
                </div>
                <!--end::Card-->
            </div>

            <div class="col-lg-4">
                <!--begin::Card-->
                <div class="card  overlay overflow-hidden">
                    <div class="card-body p-0">
                        <div class="overlay-wrapper">
                            <img src="assets/media/stock/600x400/img-3.jpg" alt="" class="w-100 rounded"/>
                        </div>

                    </div>
                </div>
                <!--end::Card-->
            </div>
        </div>


        
        </div>
    </div>
  </div>
</body>
</html>
