<div class="card card-flush shadow-sm">


  <div class="card-toolbar">


<!--begin::Menu-->
<div class="menu menu-rounded menu-column menu-title-gray-700 menu-icon-gray-400 menu-arrow-gray-400 menu-bullet-gray-400 menu-arrow-gray-400 menu-state-bg fw-bold w-250px" data-kt-menu="true">
  <!--begin::Menu item-->
  <div class="menu-item menu-accordion" data-kt-menu-trigger="click">
      <!--begin::Menu link-->
      <a href="#" class="menu-link py-3" data-link="/apps/chat">

          <span class="menu-title">Chat</span>
          <span class="menu-arrow"></span>
      </a>
      <!--end::Menu link-->

      <!--begin::Menu sub-->
      <div class="menu-sub menu-sub-accordion pt-3">
          <!--begin::Menu item-->
          <div class="menu-item">
              <a href="#" class="menu-link py-3" routerLinkActive="active"
              routerLink="/apps/chat/private-chat">
                  <span class="menu-bullet">
                      <span class="bullet bullet-dot"></span>
                  </span>
                  <span class="menu-title">Private chat</span>
              </a>
          </div>
          <!--end::Menu item-->

          <!--begin::Menu item-->
          <div class="menu-item">
              <a href="#" class="menu-link py-3"   routerLinkActive="active"
              routerLink="/apps/chat/group-chat">
                  <span class="menu-bullet">
                      <span class="bullet bullet-dot"></span>
                  </span>
                  <span class="menu-title">Group chat</span>
              </a>
          </div>
          <!--end::Menu item-->



          <!--begin::Menu item-->
          <div class="menu-item">
              <a href="#" class="menu-link py-3"   routerLinkActive="active"
              routerLink="/apps/chat/drawer-chat">
                  <span class="menu-bullet">
                      <span class="bullet bullet-dot"></span>
                  </span>
                  <span class="menu-title">Drawer chat</span>
              </a>
          </div>
          <!--end::Menu item-->
      </div>
      <!--end::Menu sub-->
  </div>
  <!--end::Menu item-->

</div>
<!--end::Menu-->
</div>
</div>
